.btn-primary {
  @apply border-2 border-cyan-900 duration-300;

  &:not(.btn-primary--outlined) {
    @apply bg-cyan-900 hover:bg-opacity-60;
  }

  &.btn-primary--outlined {
    @apply text-cyan-900 hover:text-white hover:bg-cyan-900;
  }
}
