@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    @apply text-2xl text-white;
  }

  input, textarea {
    @apply text-gray-900;
  }
}
